<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta id="base-url" data-url="/">
    <meta id="badge-base-url" data-url="https://mybinder.org/">

    <!-- Social media previews -->
    <meta property="og:title" content="The Binder Project">
    <meta property="og:image" content="https://mybinder.org/static/images/logo_social.png">
    <meta property="og:description" content="Reproducible, sharable, interactive computing environments.">
    <meta property="og:image:width" content="1334">
    <meta property="og:image:height" content="700">
    <meta property="og:image:alt" content="The Binder Project Logo" />
    <meta name="twitter:card" content="summary_large_image">

    <link id="favicon" rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <title>Easy Docker</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="logo-container">
                <img id="logo" th:src="@{/img/logo.svg}" width="390px"  />
            </div>
        </div>
    </div>

    <div id="main" class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <div id="header" class="text-center">
                    <h3>Effortlessly create Binder-ready configuration files</h3>
                    <div id="explanation">
                        Have a scientific workflow and want to run it in a container?
                        With Easybinder you can create the configuration files that are required to run a <a href="https://mybinder.org">Binder</a>,
                        making your code immediately reproducible by anyone, anywhere.
                    </div>
                </div>

                <form id="build-form" class="form jumbotron">
                    <h4 id="form-header" class='row'>Build and launch a repository</h4>
                    <input type="hidden" id="provider_prefix" value="gh"/>
                    <div class="form-group row">
                        <label for="repository">Project path</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="repository" data-lpignore="true" placeholder="GitHub repository name or link"/>
                            <div class="input-group-btn" id="url-type-btn">
                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        title="Specify path of repository"
                                >
                                    <span id="provider_prefix-selected">Directory</span>
                                    <span class="caret"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="form-group col-md-2">
                            <div class="btn-group" id="launch-buttons">
                                <a th:href="@{python}"><button id="choice1" class="btn-submit" type="button">python</button></a>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <div class="btn-group" id="launch-buttons">
                                <a th:href="@{r}"><button id="choice2" class="btn-submit" type="button">R</button></a>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <div class="btn-group" id="launch-buttons">
                                <a th:href="@{julia}"><button id="choice3" class="btn-submit" type="button">Julia</button></a>
                            </div>
                        </div>
                    </div>

                    <div id="log-container" class="panel panel-default on-build hidden row">
                        <div id="toggle-logs" class="panel-heading">
                            Build logs
                            <button type="button" class="btn btn-link btn-xs pull-right">show</button>
                        </div>
                        <div class="panel-body hidden">
                            <div id="log"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>